<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="uri" value="http://mercury.delphi03.euromoneydigital.com/chart/GetChart" />
      <add key="method" value="POST"/>
      <add key="cookie" value="rohit.modi=rohit.modi; oo_event=dfaab7620aa2891002764bc56177f4ec93fb3b3c; ahmada=ahmada; DB=MTowMDAwOmFobWFkYToxOjEzODg1NTI0MDA6OUFzWEo0bUhnQ2xvQmVWOklWZWEwUXE1MXM3SExEWnRuT1B3VHBKMlNtM0t3VXExUzdNSkhpOGhxY1k9; ASP.NET_SessionId=sg0ekkl3enbxxrg5dwzllfdd"/>
      <add key="payload" value="{ chartId : 'charts/bca.gis_taami_2013_03_28_c2',DB : 'MTowMDAwOmFobWFkYToxMjk6MTM2NTYxODE2NTpZZ3NabEFpeDQ5emJNdlQ6MGJ6cC9HQ3V4RVkrWmFFb3ZUNmRLOEl2SmxnRjdWZjZzRmFycmIwTGRrND0=' }"/>
      <add key="contentType" value="application/json"/>
      <add key="runCount" value="10"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>